

{% extends 'produto/base.html' %}
{% load static %}
{% block content %}

	
	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Delivery free</h3>
							<p>em um raio de 15 km</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Suporte</h3>
							<p>Suporte online 24/7</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Garantia</h3>
							<p>Produtos certificados e com garantia!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150" id="produtos">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Nossos </span> Produtos</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for product in db %}
				<div class="col-lg-4 col-md-6 text-center">

					<div class="single-product-item">

						<div class="product-image">
							{% if product.image %}
							<img class="card-img-top" src="../../media/{{product.image}}" alt="">
							{% else %}
							<img class="card-img-top" src="{% static 'img/noimg.jpg' %}" alt="">
							{% endif %}
						</div>
						<h3>{{product.name}}</h3>
						<p class="product-price"><span>Per Kg</span> {{product.price}}</p>
						<a href="{% url 'produto:detail' product.slug  %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> ver produto</a>
					</div>

				</div>
				{% endfor %}
			</div>
			<a href="{% url 'produto:list'  %}" class="btn"><i class="fas fa-shopping-cart"></i> Ver todos os produtos</a>
		</div>
	</div>
	<!-- end product section -->

	<!-- category section -->
	<div class="category-section mt-150 mb-150">

		<div class="row">
			<h2>Acessar por categoria</h2>
			<div class="col-md-8">
					<ul>
						
						{% for cat in categories %}
						<li >
							<img src="{% static 'img/categoria.jpg' %}" alt="">
							<h2>{{cat.name}}</h2>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>
	</div>
	<!-- end category section -->

	<!-- Best Seller section -->
	<div class="carrousel-sells">
		<h2>Os mais vendidos</h2>
		<div class="owl-carousel owl-theme">
			{% for produto in produto_list %}
			<div class="item">
				<img src="{% static 'img/item2.png' %}" alt="">
				<h2>{{produto.name}}</h2>
				<h5>R$ {{produto.price}}</h5>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- end Best Seller section -->

	<!-- Subcategories section -->
	<div class="carrousel-subcategory">
		<h2>Sub Categorias</h2>
		<div class="owl-carousel owl-theme">
			{% for cat in categories %}
			<div class="item">
				<img src="{% static 'img/item2.png' %}" alt="">
				<h5>{{cat.name}}</h5>
			</div>
			{% endfor %}
		</div>
	</div>
	<!-- end Subcategories section -->

	
	<!-- advertisement section -->
	<div class="abt-section mb-150 mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">DAY-OFF</p>
						<h2>Produtos com<span class="orange-text"> 50% de desconto</span></h2>
						<p>Confira nossa lista de descontos do dia. Promoções válidas de acordo com o regulamento</p>
						<a href="about.html" class="boxed-btn mt-4">veja a lista</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->

	<!-- category section -->
	<div class="category-section mt-150 mb-150">
		<div class="section-title text-center">	
			<h3><span class="orange-text">Nossa </span> Política</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
		</div>
			<div class="row">
				
				<div class="col-md-8">
                        <ul>
							
							{% for cat in categories %}
                            <li >
								<img src="{% static 'img/item-post.jpg' %}" alt="">
							</li>
							{% endfor %}
                        </ul>
                </div>
			</div>
		</div>
	</div>
	<!-- end product section -->


	{% endblock %}