{% extends 'produto/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Confira nossos produtos</p>
						<h1>ONLINE SHOP</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">

		
		<div class="container">

			<!-- categories -->
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">

                        <ul>

							<li class="active" data-filter="*">Todas as Categorias</li>
							{% for cat in categories %}

                            <li data-filter="#{{cat.name}}">{{cat.name}}</li>
							{% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
			<!-- end categories -->

			<!-- products -->
			<div class="row product-lists">
				{% for produto in product_list %}

				<div class="col-lg-4 col-md-6 text-center" id="{{produto.category.name}}">
					<div class="single-product-item">

						<div class="product-image">
							{% if produto.image %}
							<img class="card-img-top" src="../../media/{{produto.image}}" alt="">
							{% else %}
							<img class="card-img-top" src="{% static 'img/noimg.jpg' %}" alt="">
							{% endif %}
						</div>
						<h3>{{produto.name}}</h3>
						<h5>{{produto.category.name}}</h5>
						<p class="product-price"><span>Per Kg</span> {{produto.price}}</p>

						<a href="{% url 'produto:detail' produto.slug %}"><input class="car-btn" type="submit" value="detalhes"></a>


					</div>
				</div>
				{% endfor %}
			</div>
			<!-- end products -->

			<!-- paginator -->
			<div>
				{% if is_paginated %}
				
					{% if page.has_previous %}
						<a href="?page={{ page.previous_page_number }}">Anterior</a>
					{% endif %}

					Página {{ page.number }} de {{ page.paginator.num_pages }}.

					{% if page.has_next %}
						<a href="?page={{ page.next_page_number }}">Próxima</a>
						{% endif %}

				{% endif %}
			</div>
			<!-- end paginator -->
		</div>
	</div>
	<!-- end products -->

	{% endblock %}